<div class="lg:w-full">
    <div class="mx-auto" *ngIf="(excuses$ | async) as excuses">
        <div class="lg:grid lg:grid-cols-3 text-center">
            <div>
                <select (change)="onIntro($event)">
                    <option value="{{intro}}" *ngFor="let intro of excuses[2].intro">{{intro}}</option>
                </select>
            </div>
            <div>
                <select (change)="onGoat($event)">
                    <option value="{{goat}}" *ngFor="let goat of excuses[1].goat">{{goat}}</option>
                </select>
            </div>
            <div>
                <select (change)="onDelay($event)">
                    <option value="{{delay}}" *ngFor="let delay of excuses[0].delay">{{delay}}</option>
                </select>
            </div>
        </div>
        <div>
            <p>
                {{intro}} {{goat}} {{delay}}
            </p>
        </div>
        <div>
            <button (click)="onRandom()">Build It For me</button>
        </div>
    </div>
</div>