<div>
    <div class="mx-auto">
        <div class="lg:flex justify-center lg:space-x-4 mx-3">
            <div class="w-full head lg:w-1/2">
                <h1>Add A New Excuse</h1>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-40 w-40" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9a1 1 0 100-2 1 1 0 000 2zm7-1a1 1 0 11-2 0 1 1 0 012 0zm-.464 5.535a1 1 0 10-1.415-1.414 3 3 0 01-4.242 0 1 1 0 00-1.415 1.414 5 5 0 007.072 0z"
                        clip-rule="evenodd" />
                </svg>
            </div>
            <form (ngSubmit)="onSubmit()" [formGroup]="excuseForm" class="text-center space-y-3 w-full lg:w-1/2">
                <div>
                    <input type="text" name="" id="" placeholder="INTRO" formControlName="intro">
                    <span class="hidden"
                        [ngClass]="{'invalid-input': intro.invalid && (intro?.dirty || intro?.touched)}">Required</span>
                </div>
                <div>
                    <input type="text" name="" id="" placeholder="GOAT" formControlName="goat">
                </div>
                <div>
                    <input type="text" name="" id="" placeholder="DELAY" formControlName="delay">
                </div>
                <button type="submit" class="text-white font-mono text-2xl mt-3
                hover:shadow-2xl hover:scale-110 border-2 border-white transform duration-200 p-2
                    " [disabled]="!excuseForm.valid" [ngClass]="!excuseForm.valid ? 'text-red-700': ''">ADD</button>
            </form>

        </div>
    </div>
</div>